@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

body {
  background-color: gold;
}

.face {
  line-height: 1;
  text-align: center;
  font-family: "Baloo Chettan 2", cursive;
  font-size: 158px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hand {
  background-color: #ffcc00;
}

.eyes {
  background-color: #ff9900;
}

.flower {
  background-color: plum;
}

.smile {
  background-color: powderblue;
}

.sarcastic {
  background-color: salmon;
}

.sunglasses {
  background-color: lime;
}

.selector-wrapper {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

select {
  width: 70px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
}

button {
  width: 70px;
  height: 30px;
  font-family: "Baloo Chettan 2", cursive;
  background-color: #0066ff;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
